<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <div>
      <h1>Auth Menu</h1>
    </div>
    <nav class="nav-container" *ngIf="isLoggin">
      <ul>
        <li>
          <button mat-button color="primary" routerLink="/home">
            <mat-icon class="icon">home</mat-icon>
            Home
          </button>
        </li>

        <li>
          <button mat-button color="primary" routerLink="/dashboard">
            <mat-icon class="icon">list</mat-icon>
            Task
          </button>
        </li>
      </ul>
    </nav>
  </mat-drawer>
  <mat-toolbar class="toolbar-space" color="primary">
    <div *ngIf="isLoggin" >
      <button *ngIf="!drawer.opened" mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <button *ngIf="drawer.opened" mat-icon-button (click)="drawer.toggle()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <span> {{ isLoggin ? name : "Authenticated App" }}</span>
    <span class="spacer"></span>
    <button mat-raised-button color="secondary" (click)="signin();">
      {{ isLoggin ? "Logout" : "Signin" }}
    </button>
    <button *ngIf="!isLoggin" mat-raised-button color="warn" (click)="goToSignUp()">Signup</button>
  </mat-toolbar>

  <div class="sidenav-content">
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
