.card-container {
    width: 400px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    margin-top: 14rem;
    border-radius: 16px;
}

.form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.input {
    width: 100%;
}

